
ul {
    list-style: none;
    text-align: end;
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}

li {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
}

li:hover {
    color: #b6f3ff;
}
input:hover{
    color: aquamarine;
}