h1{
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
}
ul{
    display: inline;
    display: none;
}
li{
    text-align: end;
    background-color: rgba(6, 5, 5, 0.096);
    color: rgb(57, 132, 132);
}